<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-37RN5B06VW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-37RN5B06VW');
    </script>
    <title>Catalogo de Productos</title>
    <link rel="stylesheet" href="/stylesheets/catalogo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body{
            background-color: #d1d1d1;
        }
        th {
            font-family: Arial, sans-serif;
            font-size: 16px;
            font-weight: bold;
            display:flexbox;
            justify-content: center;
            color: black;
        }
        th,
        td {
            padding: 10px;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            color: rgb(0, 0, 0);
        }
        
        h1 {
            color: white;
            text-align: center;
        }
        h2{
            text-align: center;
            color: black;
        }
table {
    margin-top: 45%;
}
/* Estilos para pantallas grandes (PC) */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

/* Estilos para pantallas medianas (Tablets) */
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Estilos para pantallas pequeñas (Teléfonos) */
@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-grid {
  margin-top: 15%;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 10px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  height: 100%;
}

.product-card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card-body {
  flex-grow: 1;
  padding: 10px;
}

.product-card-footer {
  padding: 10px;
}
a{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
    </style>
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    
    
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><strong><h1>Tienda Fit</h1></strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav nav justify-content-center">
                        <li class="nav-item">
                            <form action="/buscar" method="post">
                                <input type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre del producto" >
                                <input type="text" name="descripcion" id="descripcion" placeholder="Ingrese una descripcion del producto" >
                                <select name="categoria" id="categoria">
                                    <option value="">--Categorias--</option>
                                    <% if (datos) { %>
                                      <% const categorias = new Set(); %>
                                      <% for (let i = 0; i < datos.length; i++){  %>
                                        <% const categoria = datos[i].categoriaNombre; %>
                                        <% if (!categorias.has(categoria)) { %>
                                          <option value="<%= categoria %>"><%= categoria %></option>
                                          <% categorias.add(categoria); %>
                                        <% } %>
                                      <% } %>
                                    <% } else { %>
                                      <option value="">No existen productos en el sistema</option>
                                    <% } %>
                                  </select>
                                  
                                  <select name="marca" id="marca">
                                    <option value="">--Marcas--</option>
                                    <% if (datos) { %>
                                      <% const marcas = new Set(); %>
                                      <% for (let i = 0; i < datos.length; i++){  %>
                                        <% const marca = datos[i].marca; %>
                                        <% if (!marcas.has(marca)) { %>
                                          <option value="<%= marca %>"><%= marca %></option>
                                          <% marcas.add(marca); %>
                                        <% } %>
                                      <% } %>
                                    <% } else { %>
                                      <option value="">No existen productos en el sistema</option>
                                    <% } %>
                                  </select>
                                  
                                  <select name="deporte" id="deporte">
                                    <option value="">--Deporte--</option>
                                    <% if (datos) { %>
                                      <% const deportes = new Set(); %>
                                      <% for (let i = 0; i < datos.length; i++){  %>
                                        <% const deporte = datos[i].deporte; %>
                                        <% if (!deportes.has(deporte)) { %>
                                          <option value="<%= deporte %>"><%= deporte %></option>
                                          <% deportes.add(deporte); %>
                                        <% } %>
                                      <% } %>
                                    <% } else { %>
                                      <option value="">No existen productos en el sistema</option>
                                    <% } %>
                                  </select>
                                  <select name="promedio" id="promedio">
                                    <option selected disabled value="">--Promedio--</option>
                                    <option value="todos">Todos</option>
                                    <option value="menos-de-3">Menos de 3</option>
                                    <option value="3-a-4">3 a 4</option>
                                    <option value="mayor-o-igual-a-4">Mayor o igual a 4</option>
                                  </select>
                                <button type="submit" class="btn btn-outline-primary">Buscar</button>
                                <a href="/" class="btn btn-outline-primary">Reestablecer</a>
                            </form>
                        </li>
                        <li class="nav-item">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                          <% if (userId == null) { %>
                             <a class="nav-link btn btn-outline-primary" href="/inicioSesionClientes">Iniciar sesión</a>
                             <% } else { %>
                              <a class="nav-link btn btn-outline-primary" href="/logout">Cerrar sesión</a>
                              <a class="nav-link btn btn-outline-primary" href="/productos-comprados">Productos comprados</a>
                            <%   } %>
                            
                        </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        </header>
   <div>
        <div class="titulo">
            <h2>Catálogo de productos</h2>
            <div class="d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Vista de Productos">
                  <input type="radio" class="btn-check" name="vistaProducto" id="btnCuadricula" autocomplete="off" checked>
                  <label class="btn btn-outline-primary" for="btnCuadricula">Cuadricula</label>
                  <input type="radio" class="btn-check" name="vistaProducto" id="btnLista" autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnLista">Lista</label>
                </div>
              </div>
              <div class="container">
                <div id="product-grid" class="product-grid">
                  <% if (datos && datos.length > 0) { %>
                    <% datos.forEach(function(producto) { %>
                      <a href="/detalles/<%= producto.id%>">
                      <div class="product-card">
                        <div class="product-card-header">
                          <img src="<%= producto.url %>" alt="<%= producto.productoNombre %>">
                        </div>
                        <div class="product-card-body">
                         <h6><%= producto.productoNombre %></h6>
                        </div>
                        <div class="product-card-footer">
                          <span><%= producto.precio %> $</span>
                        </div>
                      </div>
                    </a>
                    <% }); %>
                  <% } else { %>
                    <p>No se encontraron productos.</p>
                  <% } %>
                </div>
                
      <table id="product-list" class="container" style="display: none;" border="2">
        <tr>
            <th><p>Nombre</p></th>
            <th><p>Precio</p></th>
            <th><p>Marca</p></th>
            <th><p>Deporte</p></th>
            <th><p>Descripcion</p></th>
            <th><p>Categoria</p></th>
            <th><p>Imagen</p></th>
            <th><p>Accion</p></th>
        </tr>
        <tr>
           <% if (datos) { %>
                <% for (let i = 0; i < datos.length; i++){  %>
                        <tr>
                            <td><%= datos[i].productoNombre %></td>
                            <td><%= datos[i].precio %></td>
                            <td><%= datos[i].marca %></td>
                            <td><%= datos[i].deporte %></td>
                            <td><%= datos[i].descripcion %></td>
                            <td><%= datos[i].categoriaNombre %></td>
                            <td><img class="imagen-producto" src="<%= datos[i].url %>" style="max-width: 150px; max-height: 150px;" ></td>
                            <td><a href="/detalles/<%=datos[i].id %>" class="btn btn-success">Comprar</a></td>
                        </tr>    
                <% } %>
            <% } else { %>
                    <tr>
                        <th><p>No hay productos en el sistema</p></th>
                    </tr>
                <% }   %>
        </tr>
    </table>
  </div>
  <script>
    const btnCuadricula = document.getElementById('btnCuadricula');
    const btnLista = document.getElementById('btnLista');
    const productGrid = document.getElementById('product-grid');
    const productList = document.getElementById('product-list');
  
    
    const selectedView = localStorage.getItem('selectedView');
    if (selectedView === 'list') {
      btnLista.checked = true;
      productGrid.style.display = 'none';
      productList.style.display = 'table';
    }
  
    btnCuadricula.addEventListener('click', function() {
      productGrid.style.display = 'grid';
      productList.style.display = 'none';
     
      localStorage.setItem('selectedView', 'grid');
    });
  
    btnLista.addEventListener('click', function() {
      productGrid.style.display = 'none';
      productList.style.display = 'table';
   
      localStorage.setItem('selectedView', 'list');
    });
  </script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>